/* Chessboard.module.css */

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    width: 400px;
    height: 400px;
}

.whiteSquare {
    background-color: white;
}

.blackSquare {
    background-color: black;
}